<div class="page-header">
  <h1>Welcome to the examples app</h1>
</div>
<p>Click the menu button to toggle the menu with the examples.</p>
<h2>Useful links</h2>
<ul>
  <li>
    <a href="https://cli.angular.io/" target="_blank">Angular CLI</a>
  </li>
  <li>
    <a href="https://material.angular.io/" target="_blank">Angular Material</a>
  </li>
  <li>
    <a href="https://angular.io/guide/cheatsheet" target="_blank">Angular Cheat Sheet</a>
  </li>
  <li>
    <a href="https://angular.io/guide/styleguide" target="_blank">Angular Styleguide</a>
  </li>
  <li>
    <a href="https://angular.io/guide/glossary" target="_blank">Angular Glossary</a>
  </li>
  <li>
    <a href="https://github.com/maximegris/angular-electron" target="_blank">Angular Electron</a>
  </li>
  <li>
    <a href="https://ionicframework.com/docs" target="_blank">Ionic Framework</a>
  </li>
  <li>
    <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
  </li>
</ul>
