<h1>Contact</h1>
<form>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control form-control-sm" name="name" />
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control form-control-sm" name="email" placeholder="name@ordina.be">
  </div>

  <div class="form-group">
    <label for="unit">Business Unit</label>
    <select class="form-control form-control-sm" id="unit">
      <option>OPS-BPS</option>
      <option>OPS-CW</option>
      <option>OPS-EU & II</option>
      <option>OPS-FS & BUSCONS</option>
      <option>OPS-JWORKS</option>
      <option>OPS-NCORE</option>
      <option>OPS-Q</option>
      <option>OPS-R&T</option>
      <option>OPS-RPA</option>
      <option>OPS-SAP</option>
      <option>OPS-SCO</option>
      <option>OPS-SECURITY</option>
      <option>OPS-SOUTH</option>
      <option>OPS-VW</option>
    </select>
  </div>

  <div class="form-group">
    <label for="topic">Topic</label>
    <select class="form-control form-control-sm" id="topic">
      <option>Absence and illness</option>
      <option>Accident at work</option>
      <option>Car Accident</option>
      <option>Company Car</option>
      <option>Contract</option>
      <option>Expenses</option>
      <option>Hospitalization Insurance</option>
      <option>Meal vouchers and eco cheques</option>
      <option>Mobile Phone</option>
      <option>New employee referal</option>
      <option>Public transport subscriptions</option>
      <option>Regulations</option>
      <option>Training and Certifications</option>
      <option>Working Overtime</option>
    </select>
  </div>

  <div class="form-group">
    <label for="questionText">Question</label>
    <textarea class="form-control form-control-sm" name="questionText" rows="3"></textarea>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="priority" id="lowPriority" value="0" checked>
    <label class="form-check-label" for="lowPriority">
      Low Priority
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="priority" id="normalPriority" value="1">
    <label class="form-check-label" for="normalPriority">
      Normal Priority
    </label>
  </div>
  <div class="form-check disabled">
    <input class="form-check-input" type="radio" name="priority" id="highPriority" value="2">
    <label class="form-check-label" for="highPriority">
      High Priority
    </label>
  </div>

  <hr />
  <div class="row">
    <div class="col-sm">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="receiveCopy" value="true">
        <label class="form-check-label" for="receiveCopy">Receive a copy</label>
      </div>

    </div>
    <div class="col-sm text-right button-box">
        <button type="submit" class="btn btn-primary">Send</button>
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
  </div>

</form>
