<div class="bg-light border-right app-sidebar">
  <div class="app-sidebar__heading">Demo App </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/home']" routerLinkActive="active">Home</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/bootstrapping']" routerLinkActive="active">Bootstrapping</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/components']" routerLinkActive="active">Components</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/components/templates']" routerLinkActive="active">Templates</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/components/lifecycle-hooks']" routerLinkActive="active">Component Lifecycle Hooks</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/components/interaction']" routerLinkActive="active">Component Interaction</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/components/view-encapsulation']" routerLinkActive="active">View Encapsulation</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/directives/attribute-directives']" routerLinkActive="active">Attribute Directives</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/directives/structural-directives']" routerLinkActive="active">Structural Directives</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/directives/custom-directives']" routerLinkActive="active">Custom Directives</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/pipes']" routerLinkActive="active">Pipes</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/dependency-injection']" routerLinkActive="active">Dependency Injection</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/services']" routerLinkActive="active">Services</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/routing']" routerLinkActive="active">Routing</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/forms/template-driven']" routerLinkActive="active">Template-driven forms</a>
    <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/examples/forms/reactive']" routerLinkActive="active">Reactive forms</a>
  </div>
</div>
